<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Marmitonton - Recettes</title>
  </head>
  <body>
    <h1>Vous cherchez une recette ?</h1>

    <form method="get">
      <label for="name">Nom de la recette : </label>
      <input type="search" name="name" id="name" />
      <input type="submit" value="Chercher" />
    </form>

    <br />
    <span th:text="${status}"></span>

    <table>
      <caption>
        Recettes trouvées
      </caption>
      <thead>
        <tr>
          <th>Nom de la recette</th>
          <th>Description de la recette</th>
          <th>Ingrédients de la recette</th>
        </tr>
      </thead>
      <tbody>
        <tr  th:each="recipe : ${recipes}">
          <td th:text="${recipe.getName()}"></td>
          <td th:text="${recipe.getDescription()}"></td>
          <td th:text="${recipe.getIngredientsNames()}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
