<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marmitonton - Recette</title>
</head>
<body>
    <fieldset th:if="${allRecipes.size() > 0}">
        <h2>Modification d'une recette :</h2>
        <form method="post" th:object="${recipe}" th:action="@{/recipe/edit}">
            <label><strong>Recette à modifier</strong> : </label>
            <select name="recipeId">
                <option th:each="recipe : ${allRecipes}" th:value="${recipe.getId()}" th:text="${recipe.getName()}"></option>
            </select>
            <br><br>

            <label>Nom de la recette : </label>
            <input type="text" th:field="*{name}" />
            <br />
            <label>Description de la recette : </label>
            <input type="text" th:field="*{description}" />
            <br />
  
            <fieldset th:if="${allIngredients.size() > 0}">
                <label><strong>Cochez les ingrédients pour les ajouter à la recette</strong></label>
                <em>Si un ingrédient est manquant, vous pouvez le rajouter depuis le formulaire des ingrédients</em>
                <ul>
                <li th:each="ingredient : ${allIngredients}">
                    <input
                            type="checkbox"
                            th:name="ingredients"
                            th:field="*{ingredients}"
                            th:id="${ingredient.getName()}"
                            th:text="${ingredient.getName()}"
                            th:value="${ingredient.getName()}"
                    />
                </li>
                </ul>
            </fieldset>
  
  
          <input type="submit" value="Modifier" />
        </form>
      </fieldset>
      <p th:if="${allRecipes.size() == 0}">Il n'y a aucune recette dans la base de données</p>
</body>
</html>