<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Marmitonton - Recettes</title>
  </head>
  <body>
    <h1>Vous souhaitez créer une recette ?</h1>

    <strong><span th:text="${status}"></span></strong>

    <fieldset>
      <legend><h2>Création d'ingrédient pour votre recette :</h2></legend>
      <form method="get">
        <label for="name">Nom de l'ingrédient : </label>
        <input type="text" id="name" name="name" />
        <input type="submit" value="Créer" />
      </form>
    </fieldset>


    <fieldset>
      <legend><h2>Création d'une recette :</h2></legend>
      <form method="post" th:object="${recipe}" th:action="@{/recipe/create}">
        <label>Nom de la recette : </label>
        <input type="text" th:field="*{name}" />
        <br />
        <label>Description de la recette : </label>
        <input type="text" th:field="*{description}" />
        <br />

        <fieldset th:if="${allIngredients.size() > 0}">
          <legend><label><strong>Cochez les ingrédients pour les ajouter à la recette</strong></label></legend>
          <em>Si un ingrédient est manquant, vous pouvez le rajouter depuis le formulaire des ingrédients</em>
          <ul>
            <li th:each="ingredient : ${allIngredients}">
              <input
                      type="checkbox"
                      th:name="ingredients"
                      th:field="*{ingredients}"
                      th:id="${ingredient.getName()}"
                      th:text="${ingredient.getName()}"
                      th:value="${ingredient.getName()}"
              />
            </li>
          </ul>
        </fieldset>


        <input type="submit" value="Créer" />
      </form>
    </fieldset>
  </body>
</html>
